---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
  const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
  return uniqueTags.map((tag) => {
    const index = uniqueTags.indexOf(tag);
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag, index },
      props: {
        posts: filteredPosts
      }
    };
  });
}

const { tag, index } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag} {index}</p>
  <ul>
    {posts.map((post) => (
      <li><a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
  </ul>
</BaseLayout>
